@import "generic";

.top-nav {
  background-color: $dark-1;
  height: 124px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
  &-search {
    width: 21%;
    .input-field {
      position: relative;
      &::before {
        content: url("./assets/icons/search-icon.png");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
      }
    }
    input {
      width: 100%;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid $dark-grey;
      padding: 12px 42px;
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 400;
      color: $off-white;
      &::placeholder {
        font: inherit;
        color: $dark-grey;
      }
    }
  }
  &-links {
    display: flex;
    align-items: center;
    gap: 48px;
    a {
      text-decoration: none;
    }
    &__contacts {
      font-size: 26px;
      color: $light-grey;
      div {
        display: flex;
        align-items: baseline;
        gap: 10px;
      }
      p {
        color: $medium-grey;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__flex {
      display: flex;
      gap: 16px;
      a {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $light-grey;
        border-radius: 50%;
      }
      .top-nav-links__shop {
        border-color: $neon;
      }
    }
  }
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;
  background-color: $blue-grey;
  gap: 5px;
  img {
    margin-right: 8px;
  }

  &-link {
    font-size: 16px;
    line-height: 20px;
    color: $white-ish;
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
}

.breadcrumb,
.product {
  grid-column: span 12;
}

.breadcrumb {
  &-container {
    display: flex;
    align-items: center;
  }
  &-item {
    position: relative;
    &:not(:last-of-type) {
      &:before {
        content: "";
        position: absolute;
        height: 13px;
        width: 1px;
        background-color: $white-ish;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    &:first-of-type a {
      padding-left: 0;
    }
  }

  &-link {
    display: block;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    padding: 16px 12px;
    color: $dark-grey;
  }
}

.product {
  display: flex;
  gap: 24px;
  .container {
    margin: 0;
  }

  &-images {
    display: flex;
    position: relative;
    grid-column: span 6;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
    &-small {
      &-container {
        display: block;
        padding-right: 25px;
        width: 16.6%;
      }
      &-item {
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 42px 0;
        background-color: $img-background;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
    }
    &-large {
      &-container {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        height: 100%;
        background-color: $img-background;
        opacity: 0;
        transition: opacity 1000ms ease-in-out 0s;
        cursor: zoom-in;
        max-height: 612px;
        &.active {
          opacity: 1;
        }
      }
    }
    &-arrows {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      // width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        z-index: 99;
        background-color: inherit;
        border: none;
        cursor: pointer;
      }
    }
  }
  &-info {
    grid-column: span 5;
    &-promo {
      display: flex;
      gap: 16px;
      align-items: center;
      margin-bottom: 15px;
      p {
        font-size: 12px;
        line-height: 16px;
        color: $dark-grey;
        font-weight: 400;
      }
      span {
        background-color: $yellow;
        border-radius: 45px;
        width: 158px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark-1;
      }
    }
    &-header {
      border-bottom: 1px solid $light-grey;
      margin-bottom: 16px;
      h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        letter-spacing: 3%;
      }
      &__sub {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 3%;
        font-weight: 400;
        margin-bottom: 18px;
      }
    }
    &-stock {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
      &__code {
        color: $product-code;
        padding-right: 8px;
        border-right: 1px solid $product-code;
      }
      &__stock {
        span {
          display: flex;
          align-items: center;
          gap: 7px;
          &:after {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: block;
          }
          &.in-stock {
            color: $in-stock;
            &:after {
              background-color: $in-stock;
            }
          }
        }
      }
      &__share {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 9px;
      }
    }
    &-price {
      margin: 40px 0 45px;
      font-size: 32px;
      line-height: 46px;
      &__old {
        margin-left: 26px;
        color: $medium-grey;
        text-decoration-line: line-through;
        font-weight: 500;
      }
      &__save {
        font-size: 12px;
        line-height: 17px;
        color: $yellow;
      }
    }
    &-color {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-bottom: 40px;
      p {
        font-size: 14px;
        line-height: 18px;
        color: $black;
      }
      &__container {
        display: flex;
        align-items: center;
      }
      &__item {
        &:not(:last-of-type) {
          margin-right: 4px;
        }
      }
      &__color {
        width: 46px;
        height: 46px;
        padding: 5px;
        display: block;
        position: relative;

        div {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $img-background;
        }
        img {
          width: 100%;
          height: auto;
        }
        &.active {
          border: 1px solid $dark-grey;
        }
        &.active,
        &.active:hover,
        &:hover {
          &:before {
            content: attr(data-title);
            display: block;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 12px;
            color: $white-ish;
            border-radius: 3px;
            font-size: 12px;
            line-height: 15px;
            background-color: $dark-grey;
          }
          &:after {
            content: "";
            position: absolute;
            width: 7.59px;
            height: 6.7px;
            top: -7px;
            left: 50%;
            background-color: $dark-grey;
            transform: matrix(0.45, 1.01, -0.74, 0.55, 0, 0) translateX(-50%);
          }
        }
        &:hover {
          &:before,
          &:after {
            color: $dark-grey;
            background-color: $white-ish;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    &-delivery,
    &-links {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 14px;
      line-height: 18px;
      color: $medium-grey;
      margin-bottom: 24px;
      p,
      a {
        display: flex;
        align-items: center;
      }

      span {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
      }
    }
    &-warranty {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      height: 50px;
      background-color: $blue-grey;
      font-size: 14px;
      line-height: 18px;

      color: $yellow;
      margin-bottom: 24px;
      p {
        display: flex;
        align-items: center;
        gap: 14px;
        font-weight: 500;
      }
      a {
        text-decoration: underline;
      }
    }
    &-btn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-bottom: 24px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        min-height: 55px;
        padding: 8px 50px;
      }
      &__cart {
        letter-spacing: 0.03em;
        gap: 16px;
        background-color: $dark-1;
        color: $light-grey;
        img {
          margin-bottom: 5px;
        }
      }
      &__credit {
        border: 1px solid $yellow;
        color: $dark-2;
        font-size: 14px;
        div {
          text-align: center;
          max-width: 240px;
        }
        span {
          color: $yellow;
          font-weight: 600;
        }
      }
    }
  }
}
.mobile-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .nav-bar {
    min-width: 100vw;
    overflow: auto;
    gap: 15px;
    &-link {
      white-space: nowrap;
    }
  }
  .product-images,
  .product-info {
    grid-column: span 12;
    margin-bottom: 25px;
  }
  .mobile-menu {
    display: block;
    svg {
      fill: $neon;
    }
  }
  .top-nav-links,
  .top-nav-search {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .product-images-small-container {
    display: none;
  }
  .product-images-large-container {
    min-height: 300px;
  }
  .product-info-btn a {
    grid-column: span 2;
  }
  .top-nav-logo {
    max-width: 50%;
    img {
      width: 100%;
    }
  }
  .product-info-delivery,
  .product-info-links {
    flex-wrap: wrap;
    gap: 10px 20px;
  }
  .breadcrumb-item:first-of-type {
    display: none;
  }
}
